@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-4 text-muted">Cloud service types</h1>
    <p class="lead">Cloud services tailored for your needs.</p>
    <hr class="my-4">

    <!-- Button trigger modal -->

    <div style="text-align: center;">

        <button type="button" style="width: 60px;" class="btn btn-outline-dark btn-md" data-toggle="modal" data-target="#SaaS_Modal">
            SaaS
        </button>

        <button type="button" style="width: 60px;" class="btn btn-outline-dark btn-md" data-toggle="modal" data-target="#PaaS_Modal">
            PaaS
        </button>

        <button type="button" style="width: 60px;" class="btn btn-outline-dark btn-md" data-toggle="modal" data-target="#IaaS_Modal">
            IaaS
        </button>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="SaaS_Modal" tabindex="-1" role="dialog" aria-labelledby="SaaS_Modal_Title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SaaS_Modal_Title">SaaS (Software as a Service)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="text-align: justify;">
                        Comercialização de serviço (software, conteúdo, plataforma, etc) por meio virtual. O usuário apenas precisa de uma conexão com a internet para usá-lo. São executados na nuvem do contratado - responsável por garantir a operação do serviço pelo menos no nível mínimo do SLA do contrato.
                    </p>
                    <ul>
                        <li>GitHub</li>
                        <li>Office 365</li>
                        <li>Spotify</li>
                        <li>Zoom</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-outline-dark btn-md" href="https://www.salesforce.com/br/saas/">Bibliography</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="PaaS_Modal" tabindex="-1" role="dialog" aria-labelledby="PaaS_Modal_Title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="PaaS_Modal_Title">Platform as a Service</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="text-align: justify;">
                        Comercialização de ambiente de desenvolvimento e implantação completo na nuvem, possui recursos que permitem o fornecimento de diversos tipos de aplicativos desde simples programas a sistemas complexos. Diferentes modelos de pagamentos, o cliente aluga os recursos necessários em um provedor de nuvem público, necessitando apenas de uma conexão segura com a Internet.
                    </p>
                    <ul>
                        <li>Google App Engine</li>
                        <li>Heroku</li>
                        <li>Salesforce</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-outline-dark btn-md" href="https://azure.microsoft.com/pt-br/overview/what-is-paas/">Bibliography</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="IaaS_Modal" tabindex="-1" role="dialog" aria-labelledby="IaaS_Modal_Title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="IaaS_Modal_Title">IaaS (Infrastructure as a Service)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="text-align: justify;">
                        Comercialização de infraestrutura computacional de fácil acesso, fornecida e gerenciada pela internet. Pode rapidamente ser escalonável de acordo com a demanda do serviço, permitindo pagamento apenas da quantidade de recurso que foi utilizada. Elimina os custos de montar e gerenciar uma nuvem privada sendo apenas necessário cobrir os gastos operacionais dos recursos utilizados da nuvem pública. O provedor de nuvem fornece a infraestrutura e o cliente fica responsável por configurar o restante da melhor forma para sua necessidade.
                    </p>
                    <ul>
                        <li>Amazon Web Services (AWS)</li>
                        <li>Google Cloud Platform (GCP)</li>
                        <li>Microsoft Azure</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-outline-dark btn-md" href="https://azure.microsoft.com/pt-br/overview/what-is-iaas/">Bibliography</a>
                </div>
            </div>
        </div>
    </div>
</div>
